.row
        .col-lg-2
            .card.shadow.mb-4
                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                    h6.m-0.font-weight-bold.text-primary Affilations
                    .dropdown.no-arrow
                    a#dropdownMenuLink.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        i.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400
                    .dropdown-menu.dropdown-menu-right.shadow.animated--fade-in(aria-labelledby='dropdownMenuLink')
                        .dropdown-header Dropdown Header:
                        a.dropdown-item(href='#') Add
                        a.dropdown-item(href='#') Del
                        .dropdown-divider
                        a.dropdown-item(href='#') Update
                // Card Body
                .card-body
                    | Dropdown menus can be placed in the card header in order to extend the functionality of a basic card. In this dropdown card example, the Font Awesome vertical ellipsis icon in the card header can be clicked on in order to toggle a dropdown menu.

        .col-lg-6
           .card.shadow.mb-4
                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                    h6.m-0.font-weight-bold.text-primary Cources
                    .dropdown.no-arrow
                    a#dropdownMenuLink.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        i.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400
                    .dropdown-menu.dropdown-menu-right.shadow.animated--fade-in(aria-labelledby='dropdownMenuLink')
                        .dropdown-header Dropdown Header:
                        a.dropdown-item(href='#') Add
                        a.dropdown-item(href='#') Del
                        .dropdown-divider
                        a.dropdown-item(href='#') Update
                // Card Body
                .card-body
                    | Dropdown menus can be placed in the card header in order to extend the functionality of a basic card. In this dropdown card example, the Font Awesome vertical ellipsis icon in the card header can be clicked on in order to toggle a dropdown menu.
        .col-lg-2
           .card.shadow.mb-4
                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                    h6.m-0.font-weight-bold.text-primary Seat Available
                    .dropdown.no-arrow
                    a#dropdownMenuLink.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        i.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400
                    .dropdown-menu.dropdown-menu-right.shadow.animated--fade-in(aria-labelledby='dropdownMenuLink')
                        .dropdown-header Dropdown Header:
                        a.dropdown-item(href='#') Add
                        a.dropdown-item(href='#') Del
                        .dropdown-divider
                        a.dropdown-item(href='#') Update
                // Card Body
                .card-body
                    | Dropdown menus can be placed in the card header in order to extend the functionality of a basic card. In this dropdown card example, the Font Awesome vertical ellipsis icon in the card header can be clicked on in order to toggle a dropdown menu.
        .col-lg-2
           .card.shadow.mb-4
                .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
                    h6.m-0.font-weight-bold.text-primary Fee structure
                    .dropdown.no-arrow
                    a#dropdownMenuLink.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        i.fas.fa-ellipsis-v.fa-sm.fa-fw.text-gray-400
                    .dropdown-menu.dropdown-menu-right.shadow.animated--fade-in(aria-labelledby='dropdownMenuLink')
                        .dropdown-header Dropdown Header:
                        a.dropdown-item(href='#') Add
                        a.dropdown-item(href='#') Del
                        .dropdown-divider
                        a.dropdown-item(href='#') Update
                // Card Body
                .card-body
                    | Dropdown menus can be placed in the card header in order to extend the functionality of a basic card. In this dropdown card example, the Font Awesome vertical ellipsis icon in the card header can be clicked on in order to toggle a dropdown menu.                        