extends public/layout

block content
    .d-sm-flex.align-items-center.justify-content-between.mb-4
        h1.h3.mb-0.text-gray-800 Dashboard
        a.btn.btn-success.btn-icon-split(href='#')
            span.icon.text-white-50
                i.fas.fa-check
            span.text Split Button Success
        // Content Row
    include tools/progresscards.pug
    .row
        .col-lg-2
            include tools/orgdata/affiliation.pug
        .col-lg-6
            include tools/orgdata/cources.pug
        .col-lg-2
            include tools/orgdata/seat.pug
        .col-lg-2
            include tools/orgdata/fee.pug