extends public/layout

block content
    .d-sm-flex.align-items-center.justify-content-between.mb-4
        h1.h3.mb-0.text-gray-800 Dashboard
        a.btn.btn-success.btn-icon-split(href='#')
            span.icon.text-white-50
                i.fas.fa-check
            span.text Split Button Success
        // Content Row
    include tools/progresscards.pug
    include tools/orgdata.pug