extends public/layout

block content
    .register-photo
        .form-container
            .image-holder
            form(method='post')
                h2.text-center
                    strong Create
                    |  an account.
                .form-group
                    input.form-control(type='email', name='email', placeholder='Email')
                    if locals.success == 'true'
                        small.form-text.text-danger=message
                .form-group
                    input.form-control(type='password', name='password', placeholder='Password')
                .form-group
                    input.form-control(type='password', name='password-repeat', placeholder='Password (repeat)')
                .form-group
                    .form-check
                    label.form-check-label
                        input.form-check-input(type='checkbox')
                        | I agree to the license terms.
                .form-group
                    button.btn.btn-primary.btn-block(type='submit') Sign Up
                a.already(href='#') You already have an account? Login here.
