.container-fluid
    .row(style='margin-top:50px')
        .col-12
            h1.text-center=serviceh1
            .hr
                hr
        .col-12
            p.lead.text-center
                |iHuntBest.com is an extensive search engine for the students, parents,and education industry players who are seeking information

    .row.justify-content-md-center.row-service
        .col-md-auto
            .card(style='width: 15rem;padding:5px;')
                .text-center
                    img.img-fluid(src='/images/1-icon.png', alt='Card image cap')
                .card-body
                    h5.text-center
                        | FIND BEST COLLEGE
                    p.card-text.lead
                        | Learn about the best of bests in the country.

        .col-md-auto
            .card(style='width: 15rem;padding:5px;')
                .text-center
                    img.img-fluid(src='/images/2-icon.png', alt='Card image cap')
                .card-body
                    h5.text-center
                        | FIND BEST COLLEGE
                    p.card-text.lead
                        | Learn about the best of bests in the country.

        .col-md-auto
            .card(style='width: 15rem;padding:5px;')
                .text-center
                    img.img-fluid(src='/images/3-icon.png', alt='Card image cap')
                .card-body
                    h5.text-center
                        | FIND BEST COLLEGE
                    p.card-text.lead
                        | Learn about the best of bests in the country.
        .col-md-auto
            .card(style='width: 15rem;padding:5px')
                .text-center
                    img.img-fluid(src='/images/4-icon.png', alt='Card image cap')
                .card-body
                    h5.text-center
                        | FIND BEST COLLEGE
                    p.card-text.lead
                        | Learn about the best of bests in the country.
